<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>469239768362-oa9r4bq7itni0rlu1ts0e8e3kuvapb3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.469239768362-oa9r4bq7itni0rlu1ts0e8e3kuvapb3r</string>
	<key>API_KEY</key>
	<string>AIzaSyB44qfOiSwFRqafPSQp_WI2gHnUmCWjqDM</string>
	<key>GCM_SENDER_ID</key>
	<string>469239768362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobi.steph.madhacks</string>
	<key>PROJECT_ID</key>
	<string>unprompted-4e8b8</string>
	<key>STORAGE_BUCKET</key>
	<string>unprompted-4e8b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:469239768362:ios:db4cfe7fdb815e80752a53</string>
	<key>DATABASE_URL</key>
	<string>https://unprompted-4e8b8-default-rtdb.firebaseio.com</string>
</dict>
</plist>